Desktop/ProjetoIS/AirMonit/AirMonit/AirMonit_Alarm/trigger-rules.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="conditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="condition">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedByte" />
              <xs:element name="state" type="xs:string" />
              <xs:element name="molecule" type="xs:string" />
              <xs:element name="operador" type="xs:string" />
              <xs:element name="value1" type="xs:unsignedByte" />
              <xs:element name="value2" type="xs:string" />
              <xs:element name="message" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>